{% load static %}
<!DOCTYPE html>
<html>
   <head>
      <title>Adavitya 2020</title>
      <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Overpass">
      <link rel="stylesheet" href="https://d1azc1qln24ryf.cloudfront.net/114779/Socicon/style-cf.css?u8vidh">
      <link rel="stylesheet" type="text/css" href="{% static 'dist/main.css' %}">
      <script src="{% static 'js/jquery.min.js' %}"></script>
      <script src="{% static 'js/materialize.min.js' %}"></script>
      <script src="{% static 'js/wow.min.js' %}"></script>
      <script src="{% static 'js/script.js' %}"></script>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
   <style>
   button{
      margin:10px;
   }
   body{
      color: white;
   }
   </style>
   <body>
      <!-- <div class="preloader">
         <div class="cssload-dots">
            <div class="cssload-dot"></div>
            <div class="cssload-dot"></div>
            <div class="cssload-dot"></div>
            <div class="cssload-dot"></div>
            <div class="cssload-dot"></div>
         </div>
         <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
            <defs>
               <filter id="goo">
                  <fegaussianblur in="SourceGraphic" result="blur" stddeviation="12"></fegaussianblur>
                  <fecolormatrix in="blur" mode="matrix" values="1 0 0 0 0	0 1 0 0 0	0 0 1 0 0	0 0 0 18 -7" result="goo"></fecolormatrix>
               </filter>
            </defs>
         </svg>
      </div> -->
      <nav class="adavitya"><a class="logo"><img src="{% static 'img/original_logo_glow.png' %}" alt=""></a><a class="sidenav-trigger" data-target="mobile" href="#"><i class="material-icons">menu</i></a>
         <ul class="center hide-on-med-and-down">
           <li><a href="/">Home</a></li>
           <li><a href="#aboutEvent">About</a></li>
           <li><a href="{% url 'events' %}">Events</a></li>
           <li><a href="{% url 'organizers' %}">Organizers</a></li>
           <li><a href="#contactDetails">Contact</a></li>
         </ul>
         <ul class="social hide-on-med-and-down">
           <li><a href="http://facebook.com">
               <div class="icon-container"><i class="socicon-facebook"></i></div></a></li>
           <li><a href="http://twitter.com">
               <div class="icon-container"><i class="socicon-twitter"></i></div></a></li>
           <li><a href="http://instagram.com">
               <div class="icon-container"><i class="socicon-instagram"></i></div></a></li>
           <li><a href="http://youtube.com">
               <div class="icon-container"><i class="socicon-youtube"></i></div></a></li>
         </ul>
       </nav>
       <ul class="sidenav" id="mobile">
         <li><a href="/">Home</a></li>
         <li><a href="#aboutEvent">About</a></li>
         <li><a href="{% url 'events' %}">Events</a></li>
         <li><a href="/organizers">Organizers</a></li>
         <li><a href="#contactDetails">Contact</a></li>
       </ul>
      {% if messages %}
      {% for message in messages %}
      <div class="card-panel teal lighten-2">{{ message }}</div>
            

      {% endfor %}
      {% endif %}
      {% block uppercontent %}
      {% endblock %}
      {% block events %}
      {% endblock %}
      {% block content %}
      {% endblock %}
      {% block lowercontent %}
      {% endblock %}
      <div class="footer">
         <div class="container">
            <div class="row">
               <div class="col l6">
                  <p>Designed by <a href="http://samlovescoding.com" target="_blank">samlovescoding</a></p>
               </div>
               <div class="col l6">
                  <p>Powered by <a href="#" target="_blank">Shubham</a></p>
               </div>
            </div>
         </div>
      </div>
   </body>
   <script>
  
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.datepicker');
    var instances = M.Datepicker.init(elems, options);
  });

   </script>
</html>