{% extends 'base.html' %}
{% block content %}
<div>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %} 
        
        {% if star %}
        Image :<input type="file"  name="image"  required><br>
        Name :<input type="text" name = 'name' required><br>
        {% else %}
        Image :<input type="file"  name="image"  required><br>
        Department : <select name="department" required>
            <option value="robotics">Robotics </option>
        </select> 
        Name :<input type="text" name = 'name' required><br>
        Description :<br> <textarea  name="description" required></textarea><br>
        {% endif %}
        <input type="submit" value="Add"><br>
    </form>
</div>
{% endblock %}