{% extends 'index/index.html' %}

{% block content %}
<div class="about-event my-event scrollspy" id="aboutEvent">
    <div class="container">
      <h1 class="wow zoomIn"><span>{{ event.name }}</span>
    </h1>
    <span class="date"> on {{ event.date|date }}</span><span class="time"> at {{ event.date|time}}</span>
    <h4 class="wow zoomIn"><span>{{ event.category }}</span> 
    </h4>
    <img class="responsive-img" src="{{ event.image.url }}">
      <p class="wow zoomIn">{{event.description}}</p>
    </div>
    <a class="wow zoomIn waves-effect" href="{% url 'register' event.id %}" style="visibility: visible; animation-name: zoomIn;">Register Now</a>
</div>
{% endblock %}