{% extends 'index/index.html' %}

{% block content %}
<div class="container">
    {% if request.user.is_superuser %}
    <a href="{% url 'delete_event' event.id %}" class="btn btn-danger"> Delete Event</a> <br>
    {% endif %}
    <img src="{{event.image.url}}" class="img-fluid">
    <h3>{{ event.name }}</h3>
    <p>{{ event.description }}</p>

    <a href="{% url 'register' event.id %}">Register</a>
    <br>
    <a href="{% url 'registered_users_for_event' event.id %}">View Registered users for this event </a>

</div>
{% endblock %}