{% extends 'index/index.html' %}

{% block content %}
<div class="event-list">
    <div class="container">
       <br>
       <a href="{% url 'add_event'  %}" class="btn ">Add New Event </a>
       <!-- <ul class="tabs custom-tabs wow zoomIn scrollspy" id="eventList">
          <li class="tab"><a href="#day-one-events">Day One</a></li>
          <li class="tab"><a href="#day-two-events">Day Two</a></li>
       </ul> -->
       <table class="responsive-table" id="day-one-events">
          <h1>Events </h1>
          <thead>
             <tr>
                <td width="20%">&nbsp;</td>
                <td width="65%">&nbsp;</td>
                <td width="15%">&nbsp;</td>
             </tr>
          </thead>
          <tbody>
             {% for event in events %}
             <tr class="wow zoomIn">
                <td><span class="date">{{ event.date|date }}</span><span class="time">{{ event.date|time}}</span></td>
                <td>
                  <span class="event-title">{{ event.name }}</span>
                  <span class="event-title">{{ event.category }}</span>
                  <span class="event-description"> 
                  {{ event.description|truncatechars:100 }}
                  </span></td>
                <td><a class="btn waves-effect adavitya-orange" href="{{ event.get_absolute_url }}">Details</a></td>
             </tr>
            {% endfor %}
          </tbody>
       </table>
    </div>
    <div class="catalogue-link wow zoomIn"> <a class="btn adavitya-orange waves-effect waves-light">Catalogue</a></div>
 </div>
{% endblock %}