{% extends 'index/index.html' %}

{% block content %}
<div class="container">
   {% if request.user.is_superuser %}
   <form action="{% url 'search_results' event.id %}" method="GET">
        <input type="search" placeholder="Search" name="q" value="{{ query }}" required>
    </form>
   {% endif %}
    {% if users %}
    <table>
        <thead>
            <th>Name</th>
            <th>College Name</th>
            <th>Email</th>
            <th>Phone number</th>
            <th>Event</th>
            <th>Registration Id </th>
            <th>Paid</th>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{user.name}}</td>
                <td>{{user.college_name}}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.phone_number }}</td>
                <td>{{ event.name}}</td>
            <td> {{ user.registration_id }}</td>
            </tr> 
            {% endfor %}
            <tr>
                <td>Total {{ total }}</td>
            </tr> 
            </tbody>
    </table>
    {% endif %}
</div>
{% endblock %}