{% extends 'base.html' %}

{% block content %}
<!-- Todo : add search feild to search the users : To add go to events->views.py->registered_users_for_event at line 96 -->
<table>
    <thead>
        <th>Name</th>
        <th>College Name</th>
        <th>Email</th>
        <th>Phone number</th>
        <th>Event</th>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{user.name}}</td>
            <td>{{user.college_name}}</td>
            <td>{{user.email}}</td>
            <td>{{user.phone_number}}</td>
            <td>{{event.name}}</td>
        </tr> 
        {% endfor %}
        <tr>
            <td>Total {{total}}</td>
        </tr> 
    </tbody>
</table>
{% endblock %}