{% extends 'index/index.html' %}
{% block content %}
<div class="container">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %} 
        Name :<input type="text" name = 'name' required><br>
        Email : <input type="email" name="email" required> <br>
        College Name: <input type="text" name="cname" required><br>
        Phone number: <input type="text" name="pnumber" required> <br>
        <!-- <input type="submit" value="Register" class="btn"><br> -->
        <button class="btn waves-effect waves-light" type="submit" name="action">Submit
            <i class="material-icons right">send</i>
          </button>        
    </form>
</div>
{% endblock %}